[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = morty
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = morty
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = morty
[submodule "meta-pedalpi"]
	path = meta-pedalpi
	url = https://github.com/auto3000/meta-pedalpi
[submodule "meta-qt5-extra"]
	path = meta-qt5-extra
	url = git://github.com/schnitzeltony/meta-qt5-extra.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = git://github.com/meta-qt5/meta-qt5.git
