[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = zeus
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = zeus
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = morty
[submodule "meta-pedalpi"]
	path = meta-pedalpi
	url = https://github.com/auto3000/meta-pedalpi
	branch = zeus
[submodule "meta-omega"]
	path = meta-omega
	url = https://github.com/lcrb/meta-omega
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi
[submodule "meta-nanopi-neo-air"]
	path = meta-nanopi-neo-air
	url = https://github.com/auto3000/meta-nanopi-neo-air
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = zeus
[submodule "meta-meson"]
	path = meta-meson
	url = https://github.com/superna9999/meta-meson.git
	branch = zeus
