version: 2
jobs:
  .build_nanopi: &build_nanopi
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 2
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-16.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-nanopi-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-nanopi-{{ .Branch }}-
                  - sstate-v1-nanopi-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-nanopi-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-nanopi-{{ .Branch }}-
                  - dldir-v1-nanopi-
                  - dldir-v1-
      - run:
          name: Build the nanopi-neo-air image
          no_output_timeout: 90m
          command: |
            source init.sh nanopi-neo-air
            echo 'SCONF_VERSION = "1"' > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            if [[ $CIRCLE_JOB =~ .*step.* ]]; then
                timeout -k 7200 5600 bash -c "bitbake pedalpi-dev-platform | cat -" || echo build is not finished yet
            else
                bitbake pedalpi-dev-platform | cat -
            fi
            mkdir -p ~/pedalpi-src-build/tmp/deploy/images/nanopi-neo-air
      - save_cache:
              key: dldir-v1-nanopi-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-nanopi-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/nanopi-neo-air/
      - persist_to_workspace:
          root: ~/project/pedalpi-src-build/tmp/deploy/images/
          paths:
              - nanopi-neo-air
  .build_odroidc2: &build_odroidc2
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 2
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-16.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-odroidc2-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-odroidc2-{{ .Branch }}-
                  - sstate-v1-odroidc2-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-odroidc2-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-odroidc2-{{ .Branch }}-
                  - dldir-v1-odroidc2-
                  - dldir-v1-
      - run:
          name: Build the odroid-c2 image
          no_output_timeout: 90m
          command: |
            source init.sh odroid-c2
            echo 'SCONF_VERSION = "1"' > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            if [[ $CIRCLE_JOB =~ .*step.* ]]; then
                timeout -k 7200 5600 bash -c "bitbake pedalpi-dev-platform | cat -" || echo build is not finished yet
            else
                bitbake pedalpi-dev-platform | cat -
            fi
            mkdir -p ~/pedalpi-src-build/tmp/deploy/images/hardkernel-odroidc2
      - save_cache:
              key: dldir-v1-odroidc2-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-odroidc2-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/hardkernel-odroidc2/
      - persist_to_workspace:
          root: ~/project/pedalpi-src-build/tmp/deploy/images/
          paths:
              - hardkernel-odroidc2
  .build_qemux86: &build_qemux86
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 2
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-16.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-qemux86-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-qemux86-{{ .Branch }}-
                  - sstate-v1-qemux86-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-qemux86-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-qemux86-{{ .Branch }}-
                  - dldir-v1-qemux86-
                  - dldir-v1-
      - run:
          name: Build the qemux86-64 image
          no_output_timeout: 90m
          command: |
            source init.sh qemux86-64
            echo 'SCONF_VERSION = "1"' > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            if [[ $CIRCLE_JOB =~ .*step.* ]]; then
                timeout -k 7200 5600 bash -c "bitbake pedalpi-dev-platform | cat -" || echo build is not finished yet
            else
                bitbake pedalpi-dev-platform | cat -
            fi
            mkdir -p ~/pedalpi-src-build/tmp/deploy/images/qemux86-64
      - save_cache:
              key: dldir-v1-qemux86-{{ .Branch }}{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-qemux86-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/qemux86-64/
      - persist_to_workspace:
          root: ~/project/pedalpi-src-build/tmp/deploy/images/
          paths:
              - qemux86-64
  .build_raspberrypi2: &build_raspberrypi2
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 2
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-16.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-raspberrypi2-{{ .Branch }}-
                  - sstate-v1-raspberrypi2-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-raspberrypi2-{{ .Branch }}-
                  - dldir-v1-raspberrypi2-
                  - dldir-v1-
      - run:
          name: Build the raspberrypi2 image
          no_output_timeout: 90m
          command: |
            source init.sh raspberrypi2
            echo 'SCONF_VERSION = "1"'  > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            if [[ $CIRCLE_JOB =~ .*step.* ]]; then
                timeout -k 7200 5600 bash -c "bitbake pedalpi-dev-platform | cat -" || echo build is not finished yet
            else
                bitbake pedalpi-dev-platform | cat -
            fi
            mkdir -p ~/pedalpi-src-build/tmp/deploy/images/raspberrypi2
      - save_cache:
              key: dldir-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/raspberrypi2/
      - persist_to_workspace:
          root: ~/project/pedalpi-src-build/tmp/deploy/images/
          paths:
              - raspberrypi2
  .build_raspberrypi3: &build_raspberrypi3
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 2
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-16.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-raspberrypi3-{{ .Branch }}-
                  - sstate-v1-raspberrypi3-{{ .Branch }}-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-raspberrypi3-{{ .Branch }}-
                  - dldir-v1-raspberrypi3-{{ .Branch }}-
                  - dldir-v1-
      - run:
          name: Build the raspberrypi3 image
          no_output_timeout: 90m
          command: |
            source init.sh raspberrypi3
            echo 'SCONF_VERSION = "1"'  > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            if [[ $CIRCLE_JOB =~ .*step.* ]]; then
                timeout -k 7200 5600 bash -c "bitbake pedalpi-dev-platform | cat -" || echo build is not finished yet
            else
                bitbake pedalpi-dev-platform | cat -
            fi
            mkdir -p ~/pedalpi-src-build/tmp/deploy/images/raspberrypi3
      - save_cache:
              key: dldir-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/raspberrypi3/
      - persist_to_workspace:
          root: ~/project/pedalpi-src-build/tmp/deploy/images/
          paths:
              - raspberrypi3
  deploy_nanopi:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the nanopi-neo-air image
            command: |
              filename=$(ls images/nanopi-neo-air/pedalpi-dev-platform-nanopi-neo-air-*.rootfs.sunxi-sdimg)
              github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename bash ./upload-github-release-asset.sh
  deploy_odroidc2:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the odroid-c2 image
            command: |
              filename=$(ls images/hardkernel-odroidc2/pedalpi-dev-platform-hardkernel-odroidc2-*.rootfs.wic)
              github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename bash ./upload-github-release-asset.sh
  deploy_raspberrypi2:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the raspberrypi2 image
            command: |
              filename=$(ls images/raspberrypi2/pedalpi-dev-platform-raspberrypi2-*.rootfs.rpi-sdimg)
              github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename bash ./upload-github-release-asset.sh
  deploy_raspberrypi3:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the raspberrypi3 image
            command: |
              filename=$(ls images/raspberrypi3/pedalpi-dev-platform-raspberrypi3-*.rootfs.rpi-sdimg)
              github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename bash ./upload-github-release-asset.sh
  deploy_qemux86:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the qemux86 root filesystem
            command: |
              filename=$(ls images/qemux86-64/pedalpi-dev-platform-qemux86-64-*.rootfs.tar.bz2)
              github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename bash ./upload-github-release-asset.sh

  build_nanopi_step1:
      <<: *build_nanopi

  build_nanopi:
      <<: *build_nanopi

  build_odroidc2_step1:
      <<: *build_odroidc2

  build_odroidc2:
      <<: *build_odroidc2

  build_qemux86_step1:
      <<: *build_qemux86

  build_qemux86:
      <<: *build_qemux86

  build_raspberrypi2_step1:
      <<: *build_raspberrypi2

  build_raspberrypi2:
      <<: *build_raspberrypi2

  build_raspberrypi3_step1:
      <<: *build_raspberrypi3

  build_raspberrypi3:
      <<: *build_raspberrypi3

workflows:
  version: 2
  weekly:
    triggers:
      - schedule:
          cron: "0 0 * * 4"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_raspberrypi2_step1
      - build_raspberrypi3_step1
      - build_nanopi_step1
      - build_qemux86_step1
      - build_raspberrypi2:
          requires:
              - build_raspberrypi2_step1
      - build_raspberrypi3:
          requires:
              - build_raspberrypi3_step1
      - build_nanopi:
          requires:
              - build_nanopi_step1
      - build_qemux86:
          requires:
              - build_qemux86_step1
  build-and-deploy:
    jobs:
      - build_raspberrypi2_step1
      - build_raspberrypi3_step1
      - build_odroidc2_step1:
          filters:
            branches:
              ignore:
                - master
      - build_nanopi_step1
      - build_qemux86_step1
      - build_raspberrypi2:
          requires:
              - build_raspberrypi2_step1
      - build_raspberrypi3:
          requires:
              - build_raspberrypi3_step1
      - build_nanopi:
          requires:
              - build_nanopi_step1
      - build_odroidc2:
          requires:
              - build_odroidc2_step1
          filters:
            branches:
              ignore: master
      - build_qemux86:
          requires:
              - build_qemux86_step1
      - deploy_raspberrypi2:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
      - deploy_raspberrypi3:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
      - deploy_nanopi:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
      - deploy_qemux86:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
