version: 2
jobs:
  build_nanopi:
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 4
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-14.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-nanopi-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-nanopi-{{ .Branch }}-
                  - sstate-v1-nanopi-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-nanopi-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-nanopi-{{ .Branch }}-
                  - dldir-v1-nanopi-
                  - dldir-v1-
      - run:
          name: Build the nanopi-neo-air image
          no_output_timeout: 30m
          command: |
            source init.sh nanopi-neo-air
            echo 'SCONF_VERSION = "1"' > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            bitbake pedalpi-dev-platform
      - save_cache:
              key: dldir-v1-nanopi-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-nanopi-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/nanopi-neo-air/
      - persist_to_workspace:
          root: pedalpi-src-build/tmp/deploy/images/
          paths:
              - nanopi-neo-air
  build_qemux86:
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 4
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-14.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-qemux86-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-qemux86-{{ .Branch }}-
                  - sstate-v1-qemux86-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-qemux86-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-qemux86-{{ .Branch }}-
                  - dldir-v1-qemux86-
                  - dldir-v1-
      - run:
          name: Build the qemux86-64 image
          no_output_timeout: 30m
          command: |
            source init.sh qemux86-64
            echo 'SCONF_VERSION = "1"' > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            bitbake pedalpi-dev-platform
      - save_cache:
              key: dldir-v1-qemux86-{{ .Branch }}{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-qemux86-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/qemux86-64/
      - persist_to_workspace:
          root: pedalpi-src-build/tmp/deploy/images/
          paths:
              - qemux86-64
  build_raspberrypi2:
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 4
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-14.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-raspberrypi2-{{ .Branch }}-
                  - sstate-v1-raspberrypi2-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-raspberrypi2-{{ .Branch }}-
                  - dldir-v1-raspberrypi2-
                  - dldir-v1-
      - run:
          name: Build the raspberrypi2 image
          no_output_timeout: 30m
          command: |
            source init.sh raspberrypi2
            echo 'SCONF_VERSION = "1"'  > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            bitbake pedalpi-dev-platform
      - save_cache:
              key: dldir-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-raspberrypi2-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/raspberrypi2/
      - persist_to_workspace:
          root: pedalpi-src-build/tmp/deploy/images/
          paths:
              - raspberrypi2
  build_raspberrypi3:
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      BB_NUMBER_THREADS: 4
      PARALLEL_MAKE: -j 2
    docker:
      - image: crops/yocto:ubuntu-14.04-builder
    steps:
      - checkout
      - restore_cache:
              keys:
                  - sstate-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
                  - sstate-v1-raspberrypi3-{{ .Branch }}-
                  - sstate-v1-raspberrypi3-{{ .Branch }}-
                  - sstate-v1-
      - restore_cache:
              keys:
                  - dldir-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
                  - dldir-v1-raspberrypi3-{{ .Branch }}-
                  - dldir-v1-raspberrypi3-{{ .Branch }}-
                  - dldir-v1-
      - run:
          name: Build the raspberrypi3 image
          no_output_timeout: 30m
          command: |
            source init.sh raspberrypi3
            echo 'SCONF_VERSION = "1"'  > conf/site.conf
            echo 'SSTATE_DIR ?= "/tmp/sstate-cache"' >> conf/site.conf
            echo 'DL_DIR ?= "/tmp/downloads"' >> conf/site.conf
            bitbake pedalpi-dev-platform
      - save_cache:
              key: dldir-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/downloads"
      - save_cache:
              key: sstate-v1-raspberrypi3-{{ .Branch }}-{{ .Revision }}
              paths:
                  - "/tmp/sstate-cache"
      - store_artifacts:
          path: pedalpi-src-build/tmp/deploy/images/raspberrypi3/
      - persist_to_workspace:
          root: pedalpi-src-build/tmp/deploy/images/
          paths:
              - raspberrypi3
  deploy_nanopi:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the nanopi-neo-air image
            command: |
              filename=$(ls images/nanopi-neo-air/pedalpi-dev-platform-nanopi-neo-air-*.rootfs.sunxi-sdimg)
              bash ./upload-github-release-asset.sh github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename
  deploy_raspberrypi2:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the raspberrypi2 image
            command: |
              filename=$(ls images/raspberrypi2/pedalpi-dev-platform-raspberrypi2-*.rootfs.rpi-sdimg)
              bash ./upload-github-release-asset.sh github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename
  deploy_raspberrypi3:
    docker:
        - image: making/alpine-java-bash-git
    steps:
        - checkout
        - attach_workspace:
            at: images
        - run:
            name: Deploy the raspberrypi3 image
            command: |
              filename=$(ls images/raspberrypi3/pedalpi-dev-platform-raspberrypi3-*.rootfs.rpi-sdimg)
              bash ./upload-github-release-asset.sh github_api_token=$GITHUB_TOKEN_FOR_CIRCLECI owner=auto3000 repo=pedalpi-dev-platform tag=LATEST filename=$filename

workflows:
  version: 2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_raspberrypi2
      - build_raspberrypi3
      - build_nanopi
      - build_qemux86
  build-and-deploy:
    jobs:
      - build_raspberrypi2
      - build_raspberrypi3
      - build_nanopi
      - build_qemux86
      - deploy_raspberrypi2:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
      - deploy_raspberrypi3:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
      - deploy_nanopi:
          requires:
              - build_nanopi
              - build_raspberrypi2
              - build_raspberrypi3
              - build_qemux86
          filters:
            branches:
              only: master
